html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    
    border-radius: 2vh;
    background-color: rgb(77, 77, 77);
    text-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.58);
    color: white;
    font-family: 'Consolas';
    text-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.58);
    font-size: 5vh ;

}



.stils {
    align-self: center;
    height: 80vh;
    margin-left: 7vh;
    margin-right: 7vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    
    border-radius: 2vh;
    font-family: 'Consolas';
    background-color: rgb(31,31,31);
    color: white;
    text-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.58);
    scroll-margin-top: 20vh;
}



#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

#logo:hover {
    text-shadow: 1px 2px 50px rgba(255, 255, 255, 0.58);

}

#bg {
    height: 100%;
    background-color: rgb(24,24,24);

    background-repeat: no-repeat;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;

    border-radius: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;

    color: white;
    font-family: 'Consolas';
    text-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0.1vh 2px rgba(24,24, 24, 0.58);
    height: 5% auto;
    font-size: 5vh; 
    background-color: rgb(31,31,31);
}

#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 5vh ;
    scroll-margin-top: 50vh;
}

#lejupielade {
    display: flex;

}

#parprojektu {
    display: flex;

}

#palidziba {
    display: flex;

}

#kontakti{
    display: flex;
}