
#grad {
    height: 100vh  ;
    background-image: linear-gradient(rgb(115,117,116), rgb(64, 64, 64));
    background-repeat: no-repeat;
}

#header {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;

   background-color: rgba(59,104,105,0.62);
   border-radius: 30px;
   margin-left: 5vh;
   margin-right: 5vh;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px auto;
    width: 10vh auto;
    background-color: rgba(59,104,105,0.62);
    border-radius: 15px;
    color: rgba(136,236,236,0.62);;
    font-size: 36px;
    padding: 2%;
}